<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new chat</title>
</head>
<body>
    <h3>Write a new chat</h3>
    <form method="post" action="/chats" >
      <input type="text" name="from" id="" placeholder="Who are you?"><br><br>
      <textarea name="msg" id="" cols="20" rows="5" placeholder="Write your message"></textarea><br><br>
      <input type="text" name="to" id="" placeholder="Reviever"><br><br>
      <button>Create new chat</button>
    </form>
</body>
</html>